<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
This website is intended for AGO members to fill out their reimbursment forms if and when the normal site is down. Please make an account and submit your reimbursment forms.
</p>