<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  If there are any bugs on this site, please email jrusnak@usc.edu with any issues. For treasurer questions, please contact your current treasurer at pitreasurer@ago.usc.edu.
</p>